name: Scheduled Selenium Tests

on:
  push:
    branches:
      - master
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:
    {}

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Google Chrome
        run: |
          wget -q https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt-get install -y ./google-chrome-stable_current_amd64.deb

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run automated tests
        run: |
          pytest --maxfail=1 --disable-warnings -q